doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript' src='/js/jquery-3.6.0.min.js')
  body
    block content
    block scripts
