extends layout

block content
  h1= title
  p Welcome #{nick}
  form(id="send" onsubmit="return addMessage(this)")
    select(id="xxx", name="xxxyyy")
      -for(var i = 1;i<10;i++){
      option(value="#{i}") Sala de chat #{i}
      -}
    div(id="chat") #{text}
    input(type="text" id="msg" placeholder="")
    input(type="submit")
  h2#myH2
  block scripts
  script(src='/socket.io/socket.io.js')
  script(src='js/myscript.js')
  script.
    var myVar;
    var socket = io.connect('http://localhost:3000', { 'forceNew': true });
    socket.on('messages', function(data) {
      console.log(data);
      myPrint(data);
    });
    socket.on('newMessage', function(data) {
      recieveMessage(data);
      //console.log(data);
    });
  
